@media (max-width: 1600px) {
}

@media (max-width: 1500px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 1000px) {
}

@media (max-width: 700px) {
  .header {
    margin-bottom: 20px;
  }

  .header__phone {
    display: none;
  }

  .header__btn {
    display: none;
  }

  .services__image-container {
    flex-direction: column;
  }

  .quiz-intro__container {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .quiz-start-btn {
    width: 100%;
    margin-top: var(--gap);
  }
}

@media (max-width: 500px) {
  .quiz__form {
    grid-template-columns: 1fr;
  }

  .header__subtitle {
    display: none;
  }

  .clients__grid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    flex-wrap: wrap;
  }

  .quiz-intro__title,
  .quiz-intro__text,
  .quiz-intro__text2 {
    text-align: center;
    margin: 10px 0;
  }

  .footer {
    margin-top: var(--gap);
  }
}

@media (max-width: 400px) {
}
